version: '3.8'

services:
  db:
    image: postgres:15
    container_name: doktor_wf_db
    environment:
      POSTGRES_USER: doktoradmin
      POSTGRES_PASSWORD: sifre1234
      POSTGRES_DB: doktor_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: